@import url("https://fonts.googleapis.com/css2?family=Alata&family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800&family=Reem+Kufi:wght@400;500;600;700&display=swap");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/countries.css");
@import url("components/avatar-contacts.css");

body p {
	font-family:'Hanken Grotesk';
	font-size: 15px;
	text-align: justify;
}
h1 {
	font-family: 'Reem Kufi';
	font-weight: 700;
	font-size: 80px;
	margin-top: 0px;
	margin-bottom: 0px;

}
h2 {font-family: 'Alata';
	font-weight: 400;
	font-size: 25px;
}

h3 {font-family: 'Alata';
	font-weight: 400;
	font-size: 19px;
}
